/*
Aaron Brunet 
CS148
Final Assignment
*/

article{
	text-align:center;
	background-color: white;
	width: 80%;
	margin: auto;
}

p{
	font-family: Arial;
	line-height: 130%;
}

header{
    display: inline-block;
	text-align: center;
    width: 100%;
    height: 100px;
    background-color: #0066D1;
    margin: auto;
    padding-bottom: 0;
	font-family: Verdana;
	color:white;
}

h3{
	font-family: Verdana;
	font-size: 1em;
}

body {
    background-color: #e5effa; 
    padding: 0;
    margin: 0 auto;
    font-family: "sansserif";
/*    height: 100%;	    */
margin-bottom:50px;
}

nav {
    background-color: #1f8cff;
    text-align: center;
    color: white;
    margin: auto;
    width: 100%;    
    padding-top: 0em;
    padding-bottom: 0em;
    display: block;
    font-family: Arial;
}
nav ol{
    list-style-type: none;
    padding: .2em 0;
    margin: 0;
}
nav ol li{
    transition: .25s;
    padding: .2em 1em;
    display: inline-block;
    text-decoration: none;
}
nav ol li:hover {
	transition: .25s;
	background-color: #0066D1;
}
nav a:link{
    text-decoration: none;
	color: white;
}
nav a:visited{
	color: white;
}

footer {
	background-color: #0066D1;
	display: inline-block;
	width: 100%;
	text-align: center;
	position: fixed;
	bottom:0;
	height: 50px;
	color: white;
}

table {
	margin: auto;
	border: 1px solid;
	width: 80%;
	background: white;
	border-collapse: collapse;
}
table td {
	border: 1px solid #000;
	margin: 0em;
	padding: .25em;
	
}
table th {
	border: 1px solid;
	padding: .25em;
	color: white;
	background-color: #00CED1;
}
table tr:nth-child(odd) {
	background-color: #0066D1;
	color: white;
}

tr:hover{
	background-color: #1f8cff;
}
tr:nth-child(odd):hover{
	background-color: #1f8cff;
}

input[type=text]{
   width: 20em; 		
}

#txtfield{
    width:15em;
}

#frmClassSearch label{
    display:inline-block;
    width:6em;
}

#frmSubmitRest{
	width: 75%;
}

#frmSubmitRest label{
	font-weight: bold;
}

#formHolder{
	padding: 2em;
}

#backgroundSpacer{
   	height: 10px;
	width: 100%;
	display:inline;	
}

#state {
	display:inline;
	width: 3em;
}
#zip {
	display:inline;
	width: 3em;
}

#txtCity{
	width: 10em;
}

fieldset {
   border-style: none;
}
form{
   margin: auto;
   text-align: center;
   width: 80%;
   background-color: white;
   padding: 2em;
   font-family: Arial;		
}

ol{
	list-style-type: none;
	text-decoration: none;
}

li{
	list-style-type: none;
	text-decoration: none;	
}

#browse form{
   width: 50%;
}

.restaurant{
	text-align:left;
}

.saveButton{
	background-color:#00d16c; 
	padding:.3em;
}
.delButton{
	background-color:#e04050; 
	color:white; 
	padding:.3em;
}
